<div id="fondoIndex">
   
   <div >
    
    <form id="search-input" action="/artist-search", method="GET">
    <div>
    <input type="text" name="artistName" placeholder="Metallica">
    </div>
    <div>
    <button>Search for an Artist</button>
    </div>
    </form>
   </div>
</div>