<div class="containerGeneral">

  {{#each artistArr}}
    <div class="imagenes">
      <img src="{{this.images.0.url}}" alt="Img-Artist" />
      <div class="container">
        <h4>{{this.name}}</h4>

        <a href="/albums/{{this.id}}"><button>View Albums</button></a>
      </div>
    </div>
  {{/each}}

</div>